extends ../layout/index
block contenido
      main.container.mt-5
          .row
              .col-md-5
                  img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
              .col-md-7
                  h1 #{pagina}
                  blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sunt eos minima aut nihil ea, delectus ut itaque suscipit quos. 
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, temporibus! Possimus amet sunt aperiam sequi laboriosam? Nihil hic architecto numquam?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, exercitationem?
      .listado-iconos
            .container.mt-5.py-5.text-center
               .row
                  .col-md-4
                        img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, accusamus!
                  .col-md-4
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, accusamus!
                  .col-md-4
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejor Precio
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, accusamus!